        <div class="homeimg">
            <img src="img/home/img01.jpg" alt="avion">
        </div>
        <div class="columnas">
            <div class="bienvenidos">
                <h2>Bienvenidos</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta quia laborum officiis recusandae accusantium laudantium consequatur nam possimus illo? Est amet nesciunt rerum reprehenderit ut tempore at consequuntur quidem. Labore.</p>
            </div>
            <div class="testimonios">
                <h2>Testimonios</h2>
                <div class="testimonio">
                    <span class="cita">Simplemente Excelente</span>
                    <span class="autor">Juan Gomez - zapato.com</span>
                </div>
            </div>
        </div>