<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DllAccesoDatos.Properties.Settings.AdvWorks2008CS"
            connectionString="Data Source=W2K3\MSSQL2008;Initial Catalog=AdventureWorks2008;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>